* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}
body {
    background-color: beige;
    text-align: center;
}
    header {
        text-align: left;
        vertical-align: center;
        border-bottom: 2px solid black;
    }
        header > *  {
            display: inline-block;
            margin: 1rem 1.5rem;
        }
        header p {
            font-size: 2rem;
        }
        header a{
            float: right;
            font-size: 1.5rem;
        }
    h1 {
        font-size: 3rem;
        text-transform: uppercase;
        margin-block: 1.5rem;
    }
    form, form input {
        font-size: 1.25rem;
    }
        form input {
            display: block;
            margin: 0.25rem auto;
            margin-bottom: 1rem;
            border: 1px solid black;
        }
        input[type="submit"] {
            color: white;
            background-color: green;
            padding: 0.25rem 1rem;
        }
